@font-face {
    font-family: "retropc";
    src: url('../font/Greenscr.woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: black;
}



.mini-box {
    height: 30px;
    font-size: 15px;
}

#dd {
    color: red;
}

#time {
    color: white;
}

.box {
    width: 80px;
    height: 80px;
    font-size: 50px;
    border-radius: 10px;
}

#day {
    color: white;
    background-color: red;
}

#hour {
    color: black;
    background-color: white;
}

#minute {
    color: black;
    background-color: white;
}

#second {
    color: red;
    background-color: black;
}

.my_style{
    width: 500px;
    height: 200px;
    background-color: #8b866d;
}

img {
    width: 400px;
    opacity: 0.3;
}

.my_top{
    width: 350px;

    font-weight: bold;
    text-align: center;
    font-size: 25px;
    top: 60%;
}

.my_font{
    font-family: 'retropc';
    color: #17d102;
}

#btn {
    border: 2px solid #17d102;
}

#btn:hover {
    color: #64635e;
    border: 2px solid #64635e;
}